body {
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: rgb(31, 31, 90);
    border-bottom-left-radius: 5%;
    border-bottom-right-radius: 5%;
    margin: 0;
    height: 75px;
}

.page-header .code-task-logo {
    align-self: center;
}

.page-header .code-task-logo > img {
    width: 70px;
    height: 70px;
    background-color: purple;
    border-radius: 60%;
    align-self: center;
}

.page-nav ul {
    display: flex;
    justify-content: flex-start;
    width: 1000px;
    height: 75px;
    margin: 0;
}

.page-nav ul > li {
    margin-right: 40px;
    list-style-type: none;
    align-self: center;
}

.page-nav ul > li > a {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    text-decoration: none;
}

main {
    background-color: azure;
}

main .demiurg > img {
    width: 600px;
    height: 600px;
}

.auth {
    margin-left: auto;
}

.auth-list {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.auth-list > li {
    list-style-type: none;
}

.auth-list > li > a {
    text-decoration: none;
    color: white;
    font-style: italic;
}