body {
    margin: 0;
    padding: 0;
}

.page-header {
    display: flex;
    flex-direction: row;
    justify-content: start;
    background-color: yellowgreen;
    margin: 0;
}

.page-header .code-task-logo > img {
    width: 131px;
    height: 131px;
    background-color: purple;
    border-radius: 60%;
}

.page-header nav ul {
    display: flex;
    height: 131px;
    justify-content: center;
    width: 1000px;
}

.page-header nav ul > li {
    margin-right: 40px;
    list-style-type: none;
    align-self: center;
}

.page-header nav ul > li > a {
    font-size: 23px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

main .demiurg > img {
    width: 600px;
    height: 600px;
}