<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>CodeTask</title>
        <link rel="stylesheet" th:href="@{/css/home.css}"/>
        <link rel="stylesheet" th:href="@{/css/pieces/header.css}"/>
    </head>

    <body>
        <header th:replace="~{pieces/header :: header}"></header>

        <main>
            <figure class="demiurg">
                <img th:src="@{/images/skuf.jpg}" alt="Создатель"/>
                <figcaption>Создатель</figcaption>
            </figure>
        </main>

    </body>

</html>