<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>CodeTask</title>
        <link rel="stylesheet" th:href="@{/css/home.css}"/>
    </head>

    <body>
        <header class="page-header">
            <div class="code-task-logo">
                <img th:src="@{/images/nikpog.svg}" alt="Логотип CodeTask"/>
            </div>

            <nav class="page-nav">
                <ul>
                    <li><a href="#">Главная</a></li>
                    <li><a href="#">Список задач</a></li>
                    <li><a href="#">О проекте</a></li>
                </ul>
            </nav>

            <div class="auth">
                <ul class="auth-list">
                    <li><a href="/login">Вход</a></li>
                    <li><a href="#">Регистрация</a></li>
                </ul>
            </div>
        </header>

        <main>
            <figure class="demiurg">
                <img th:src="@{/images/skuf.jpg}" alt="Создатель"/>
                <figcaption>Создатель</figcaption>
            </figure>
        </main>

    </body>

</html>