<header class="page-header">
    <div class="code-task-logo">
        <img th:src="@{/images/nikpog.svg}" alt="Логотип CodeTask"/>
    </div>

    <nav class="page-nav">
        <ul>
            <li><a href="/">Главная</a></li>
            <li><a href="#">Список задач</a></li>
            <li><a href="#">О проекте</a></li>
        </ul>
    </nav>

    <div class="auth">
        <ul class="auth-list">
            <li><a href="/login">Вход</a></li>
            <li><a href="/registration">Регистрация</a></li>
        </ul>
    </div>
</header>